*{
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

h1, h2 {
  font-weight: 700; /* Bold weight */
  font-weight: 400;

}


.book-btn{
  background-color: rgb(172, 83, 116);
  border: none;
  color: white;
}


footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.about-me{
  width: 30vw;
}


body, html {
  margin: 0;
  padding: 0;
}
