html {
  font-size: 18px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-weight: 700; /* Bold weight */
  font-size: 208px;
}

/* Ensures the background spans full width */
.navbar-wrapper {
  width: 100%;
  background-color: #f8f9fa; /* Change to desired color */
  padding: 0px 0;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

/* Ensures content aligns with body */
.navbar {
  max-width: 1200px; /* Same as your body content */
  margin: 0 auto;
}

/* Gallery item styles */
.gallery-item {
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
}